@import url("https://fonts.googleapis.com/css?family=Orbitron|Satisfy&display=swap");

/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  padding: 2em 6em;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  min-height: 100vh;
}

.title {
  color: white;
  font-family: "Satisfy", cursive;
  font-size: 3em;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-gap: 2em;
  margin: 2em auto;
}

.card {
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border-radius: 0.3em;
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(0, 163, 136);
  cursor: pointer;
  transition: all 0.3s linear;
}

.card p {
  visibility: hidden;
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
}

.card.opened {
  pointer-events: none;
}

.card.opened p {
  visibility: visible;
}

.card.matched {
  border: 2px solid rgb(234, 0, 255);
  pointer-events: none;
}

.card.disabled {
  pointer-events: none;
}
